<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated book -->
      <package
            uri="http://www.kit.tva.metamodels/book"
            class="book.BookPackage"
            genModel="model/book.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated book -->
      <package
            uri="http://www.kit.tva.metamodels/genre"
            class="book.genre.GenrePackage"
            genModel="model/book.genmodel"/>
   </extension>

</plugin>
